@import url(reset.css);
@import url(nav.css);
@import url(header.css);
@import url(section.css);
@import url(footer.css);

/* Variables */

:root {
  font-size: 62.5%;
  /* 1rem = 10px */

  --background: #171717;
  --highlight: #FCA311;
  --white: #f9f9f9;
  --gray: #828282;
  --gray-medium: #333333;
  --gray-dark: #212121;

  --dm-sans: 'DM Sans', sans-serif;
}

/* General */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
  font-family: var(--dm-sans);
  overflow: overlay;
}

ul {
  list-style: none;
}

span {
  color: var(--highlight);
}

h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  text-align: center;
  padding-bottom: 2rem;
}

h2 {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
}

h4 {
  color: var(--white);
  font-size: 1.3rem;
  line-height: 1.7rem;
  text-transform: uppercase;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 2.4rem;
  width: 36rem;
}

.margin {
  margin-bottom: 4rem;
}

.fill {
  fill: var(--highlight);
}

.stroke {
  stroke: var(--highlight);
}

/* Font Awesome */

.fa-bars {
  font-size: 2rem;
}

.fa-xmark {
  font-size: 2.5rem;
}