@import url(reset.css);

:root {
  --light-blue: #00ff9f;
  --white: #f9f9f9;
  --gray: #828282;
  --gray-medium: #333333;
  --gray-dark: #212121;
  --dark: #171717;

  --dm-sans: 'DM Sans', sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--dark);
  font-family: var(--dm-sans);
}

span {
  color: var(--light-blue);
}

h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  text-align: center;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 2.4rem;
  width: 36rem;
}

nav .wrapper {
  color: var(--white);

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2.4rem;
}

nav .wrapper svg {
  cursor: pointer;
}

header {
  margin-top: 5.6rem;
  text-align: center;
}

header h1 {
  padding-bottom: .8rem;
}

header h2 {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.1rem;

  padding-bottom: 3.2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  
}

.buttons button {
  border-radius: 1rem;
  height: 3.7rem;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  padding-inline: 3rem;
}

.buttons .btn1 {
  border: none;
  color: var(--dark);
  background-color: var(--light-blue);
}

.buttons .btn2 {
  border: 1px solid var(--gray-medium);
  color: var(--white);
  background-color: transparent;
}

.about {
  display: flex;
  flex-direction: column;
  margin-block: 5.6rem;
}

.about h1 {
  padding-bottom: 1.4rem;
}

.about p {
  color: var(--gray);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
}

.contacts h1 {
  padding-bottom: 2.5rem;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 6rem 6rem;
  grid-auto-flow: row;
  grid-template-areas:
      ". ."
      ". .";
  }

  .grid .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: var(--gray-dark);
    height: 5rem;
    width: 5rem;
  }

  .grid svg path {
    fill: var(--light-blue);
  }
  