@import url(reset.css);
@import url(header.css);
@import url(section.css);

/* Variábles */

:root {
  font-size: 62.5%;
  /* 1rem = 10px */

  --light-blue: #00ff9f;
  --lighter-blue: #73FFD6;
  --white: #f9f9f9;
  --gray: #828282;
  --gray-medium: #333333;
  --gray-dark: #212121;
  --dark: #171717;

  --dm-sans: 'DM Sans', sans-serif;
  --transition: background 500ms;
}

/* General */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--dark);
  font-family: var(--dm-sans);
  overflow: overlay;
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: var(--light-blue);
}

h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  text-align: center;
  padding-bottom: 2rem;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 2.4rem;
  width: 36rem;
}

.margin {
  margin-bottom: 4rem;
}

.fill {
  fill: var(--light-blue);
}

/* Font Awesome */

.fa-bars {
  font-size: 2rem;
}

.fa-xmark {
  font-size: 2.5rem;
}

/* Navigation */
nav {
  display: flex;

  position: fixed;
  top: 0;

  width: 100vw;
  z-index: 100;
}

nav .wrapper {
  background-color: var(--dark);
  height: 5rem;
  color: var(--white);

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background-color: transparent;
  color: var(--light-blue);
  border: none;
  cursor: pointer;
}

/* Menu expanded */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded> :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(-100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark);

  width: 100vw;
  height: 100vh;

  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.menu ul:nth-child(1) {
  color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  margin-top: 7rem;
  padding-bottom: 4rem;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3.1rem;
  text-transform: uppercase;
}

.menu .social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  fill: var(--light-blue);
}

.menu .social__links svg:hover {
  filter: drop-shadow(0px 1px 10px #73FFD6);
  transition: .5s;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 1;
}